/* zakhrfa*/
.clear{clear:both}a{color:#1f497d;text-decoration:none;font-weight:700;font-size:14px}input,textarea,select{text-align:center}textarea{width:75%;height:50px;font-size:25px;margin:-3px}
